/* -- Basic styles -- */

main {
  display: grid;
  max-width: 1300px;
  justify-content: center;
  position: relative;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px,1px,1px,1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}


/* -- Formatting -- */

.authority-div, .name-row, .emp-info-row-1, .absent-row, .return-row {
  display: flex;
  flex-flow: row wrap;
}

.authority-div, .name-row, .emp-info-row-1 {
  margin-bottom: 2%;
}

.absent-row, .return-row {
  align-items: center;
}
.emp-info-row-1 select {
  margin: 0 1%;
}

.emp-info-row-1 input, .name-row input, .absent-row input, .return-row input {
  width: 10em;
  margin: 0 1%;
}

.name-row .dept {
  width: 15em;
}

.input-container {
  margin: 1.5% 2% 0 1%;
}

/* -- Typography -- */


h2:not(.authority-h2) {
  background-color: #003f87;
  color: white;
  border-radius: 5px;
  text-align: center;
}

h3 {
  background-color: #007ac8;
  color: white;
  padding: .5% 0;
  border-radius: 5px;
  text-align: center;
}

label {
  font-weight: bold;
}

/* -- Tables -- */

table {
  border: 1px solid #eee;
  margin-bottom: 3%;
}

table thead, table tr:nth-of-type(2n) {
  background-color: #eee;
}
table thead th:nth-child(2) {
  width: 15%;
}

table thead th:nth-child(2), table thead th:nth-child(4) {
  text-align: left;
}

table caption {
  margin-bottom: 2%;
}

table input[type="text"] {
  width: 50%;
}

/* -- Form inputs -- */

textarea {
  width: 50%;
  min-height: 100px;
}

.radio-div legend {
  font-weight: bold;
}

.radio-div input[id="approved-no"] {
  margin-left: 10%;
}

.radio-div {
  margin-bottom: 2%;
}

.radio-div fieldset {
  border: none;
  display: inline-flex;
  width: 13%;
  justify-content: end;
  margin-left: -1.2%;
}


.helper-text {
  font-size: .7em;
  margin-top: 0;
}
